<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" >
     <meta name="home page" content="Home page of CineChimp">
    <link rel="stylesheet" type="text/css" href="aboutstyle.css">
    <title>Book My Show</title>
  </head>
  <body>
    <div class="main">
      <div class="header">
        <img src="bmg.png" alt="">
        <span id="title">Movies</span>>
        <a>Prasoon Mishra</a>
      </div>
      <div class="head2">
      <ul id="topleft">
        <li><a href="file:///E:/Coding/HTML/J/home/home.html">Home</a></li>
        <li><a href="file:///E:/Coding/HTML/J/Movies/movies.html">Movies</a></li>
        <li><a href="">My Bookings</a></li>
        <li><a href="">Login</a></li>
      </ul>
      <ul id="topright">
        <li><a href="file:///E:/Coding/HTML/J/contact/contact.html">Contact Us</a></li>
        <li><a href="file:///E:/Coding/HTML/J/About/About.html">About us</a></li>
      </ul>
      </div>
      <div class="slide0">

    </div>
    </div>
  </body>
</html>
